{% extends 'administracion/base_administracion.html' %}
{% load static %}

{% block title %}Listado de Usuarios{% endblock %}


  {% block contenido %}

  <div class="row mt-4">
    <div class="col-md-10 offset-md-1 text-center">
    <div class="">
     <h4>Listado Usuarios</h4>
    
    
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == "error"  %}danger{% else %} {{message.tags}} {% endif %}" role="alert">
                  {{ message }}
                </div>
                {% endfor %} 
           
            </div>
    </div>
    <div class="col-md-10 offset-md-1">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          
      </div>
      <div class="card-body">
          <div class="table-responsive ">
             <table class="table table-bordered table-striped table-sm" id="tablaUsuarios" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Nombre usuario</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Email</th>
                          <th>Activo</th>
                          <th>Administrador</th>
                          <th>Acciones</th>
                      </tr>
                      
                  </thead>
                  
                  <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.first_name}}</td>
                    <td>{{usuario.last_name}}</td>
                    <td>{{usuario.email}}</td>
                    <td>
                      {{ usuario.is_active|yesno:"Sí,No" }}
                       
                    </td>
                    <td>
                      {{ usuario.is_staff|yesno:"Sí,No" }}
                     
                    </td>
      
                   
                    <td class="text-center">
                            
                     <a class="btn btn-sm btn-success ms-1" type="button" href="{% url 'editarUsuario' usuario.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fa-solid fa-pen"></i></a> 
                        
                        <a class="btn btn-sm btn-danger ms-1"  type="button" href="{% url 'eliminarUsuario' usuario.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                  </tbody>
              </table>
              


              {{mensaje}}
          </div>
      </div>
  </div>
  
</div>

  </div>

   
  {% endblock %}    

  {% block js %}    
  <script>
    $(document).ready(function() {
    
    table("tablaUsuarios");
    });
</script>

  {% endblock %}    