{% extends "base/base.html" %}
{% load static %}
{% block title %}Recuperar Contraseña{% endblock %}

{% block css %}

    
  {% endblock %}
</head>

{% block content %}

  <section class="">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row">
              <div class="col-lg-7">
                <div class="card-body mx-md-4">
  
                  <div class="text-center">
                    <img src="{% static '/img/logo.jpg' %}"
                      style="width: 185px;" alt="logo">
                    
                  </div>
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endif %}
                <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Recuperar Contraseña</p>
                            <form class="user" action="" method="POST">
                                <div class="form-group text-white">
                                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <label class="form-label text-black" for="form3Example3">Email</label>
                      <input type="text" id="{{ form.email.auto_id }}" name="{{ form.email.name }}" class="form-control form-control-md"
                        placeholder="Ingresa el email" value="{{ form.email.value | default:'' }}" />
                      <div class="error text-danger">{{ form.email.errors }}</div>
                    </div>
  
                   
                                    
                    <div class="text-center text-lg-start mt-4 pt-1">
                        <button type="submit" class="btn btn-primary btn-md"
                          style="padding-left: 1.5rem; padding-right: 1.5rem;">Recuperar Contraseña</button>
                      </div>
                                </div>
                                
                            </form>
   
  
                          </div>
                        </div>
              
                        <div class="col-lg-5 d-flex align-items-center gradient-custom-2 rounded-end-3">
                          <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">CER Integral</h4>
                            <p class="small mb-0">Centro Privado Terapéutico Interdisciplinario con Apoyo a la Integración Escolar.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </section>
              
              
              {% endblock %}