
{% extends "base/base.html" %}
{% load static %}
{% block title %}Registrarse{% endblock %}

{% block css %}
<style>

</style>
  {% endblock %}
{% block content %}

<section class="py-5">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-start ">
        <div class="card text-black w-100" style="border-radius: 25px;">
          <div class="card-body" style="height: 100%;">
            <div class="row justify-content-center align-items-center h-100">
              <!-- Imagen -->
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center justify-content-center p-4" style="max-height: 400px; overflow: hidden;">
                <img src="{% static '/img/cambiarass.png' %}" class="img-fluid w-100" alt="Sample image" style="object-fit: contain; max-height: 35%; max-width: 35%;">
              </div>
  
              <!-- Formulario -->
              <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center justify-content-center p-4">
                <div class="w-100">
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                  <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Establecer nueva contraseña</p>

<form method="post">
{% csrf_token %}
{% comment %} {{ form.as_p }} {% endcomment %}
<div class="form-outline mb-3">
                                  <label class="form-label" for="id_new_password1">Repetir Contraseña</label>
                                  <input type="password" id="{{ form.new_password1.auto_id }}" name="{{ form.new_password1.name }}" class="form-control form-control-md"
                                    placeholder="Repetir Contraseña" value="{{ form.new_password1.value | default:'' }}" required id="id_new_password1" />
                                  <div class="error text-danger">{{ form.new_password1.errors }}</div>
                                </div>
                                <div class="form-outline mb-3">
                                  <label class="form-label" for="id_new_password2">Repetir Contraseña</label>
                                  <input type="password" id="{{ form.password2.auto_id }}" name="{{ form.new_password2.name }}" class="form-control form-control-md"
                                    placeholder="Repetir Contraseña" value="{{ form.new_password2.value | default:'' }}" required id="id_new_password2" />
                                  <div class="error text-danger">{{ form.new_password2.errors }}</div>
                                </div>
<button type="submit" class="btn btn-primary">Guardar nueva contraseña</button>
</form>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}