{% extends 'administracion/base_administracion.html' %} 
{% load static %}
{%block title %}Editar especialidad{% endblock %} 

{% block contenido %}

<section class="py-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-start">
      <div class="card text-black w-100" style="border-radius: 25px">
        <div class="card-body" style="height: 100%">
          <div class="row justify-content-center align-items-center h-100">
            <!-- Imagen -->

            <!-- Formulario -->
            <div
              class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center justify-content-center p-4"
            >
          
              <div class="w-100">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                  {{ message }}
                </div>
                {% endfor %} 
                {% if form.non_field_errors %} 
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %} 
                {% endif %}
                <p class="text-center h4 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Registrar Especialidad
                </p>

                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-outline flex-fill mb-3">
                    <label class="form-label" for="form3Example3">Nombre</label>
                    <i class="fa-solid fa-dog"></i> <i class="fa-solid fa-cat"></i>
                    <div class="form-outline flex-fill mb-0">
    
                      <input type="text" id="{{form.nombre.auto_id }}" name="{{form.nombre.name}}" value="{{ form.nombre.value | default:'' }}" class="form-control form-control-sm" />
                    
                    </div>
                  </div>
                  <div class="error text-danger">{{form.nombre.errors}}</div>


                  <div class="text-center text-lg-start mt-4 pt-1">
                    <button type="submit" class="btn btn-primary btn-sm"
                      style="padding-left: 1.5rem; padding-right: 1.5rem;">Guardar</button>
                  </div>

                </form> 
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
