{% extends 'administracion/base_administracion.html' %}
{% load static %}

{% block title %}Listado de Profesionales{% endblock %}


  {% block contenido %}

  <div class="row mt-4">
    <div class="col-md-10 offset-md-1 text-center">
    <div class="">
     <h4>Listado Profesionales</h4>
    
    
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                  {{ message }}
                </div>
                {% endfor %} 
                {% if form.non_field_errors %} 
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %} 
                {% endif %}
              </div>
            </div>
    <div class="col-md-10 offset-md-1">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <div class="row">
          <div class="col-3">
          <a href="{% url 'crearProfesional' %}" class="btn btn-primary btn-sm"><i class="fas fa-solid fa-plus"></i> Nuevo Registro</a>
        </div>
      
        </div>
      </div>
      <div class="card-body">
          <div class="table-responsive ">
             <table class="table table-bordered table-striped table-sm" id="tablaProfesional" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Matricula</th>
                          <th>Ocupacion</th>
                          <th>Especialidad</th>
                          <th>Email</th>
                          <th>Acciones</th>
                      </tr>
                      
                  </thead>
                  
                  <tbody>
                    {% for profesional in profesionales %}
                    <tr>
                    <td>{{profesional.user.first_name}}</td>
                    <td>{{profesional.user.last_name}}</td>
                    <td>{{profesional.matricula_profesional}}</td>
                    <td>{{profesional.ocupacion}}</td>
                    <td>{{profesional.especialidad}}</td>
                    <td>{{profesional.user.email}}</td>
                   
                    
                    <td class="text-center">
                            
                        <a class="btn btn-sm btn-success ms-1" type="button" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fa-solid fa-pen"></i></a>
                        
                        <a class="btn btn-sm btn-danger ms-1"  type="button" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                  </tbody>
              </table>
              


              {{mensaje}}
          </div>
      </div>
  </div>
  
</div>
</div>

   
  {% endblock %}    

  {% block js %}    
  <script>
    $(document).ready(function() {
    
    table("tablaProfesional");
    });
</script>
  {% endblock %}    